body {
    background-color: white;
    font-family: 'SpotifyFont', sans-serif;
}

@font-face {
    font-family: 'SpotifyFont';
    src: url('react-website/src/assets/Spotify-Font/Gotham-Black.otf') format('opentype');
    weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'specialFont';
    src: url('react-website\src\assets\Spotify-Font\GothamBook.ttf') format('truetype');
    weight: 400;
    font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}